* {    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {

    display: flex; 
    flex-direction: row;
    width: 100%; 
    position: fixed;
    font-size: 300%;
    height: 250px;
    padding: 20px 50px;
    background-color: rgb(35, 6, 83);
    z-index: 10;
    gap: 60px;
}

nav a {
    position: relative;
    padding-top: 70px;
    font-size: 60px;
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}

nav a:hover {
    color: rgb(185, 224, 42);
    text-decoration: underline;
}

.container {
    height: auto;
    width: 100%;
    padding-top: 120px;
}

.name{
    color: rgb(244, 255, 86);
    padding-top: 49px;
    padding-left: 70px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    height: 100vh;
    display: flex;
    
    align-items: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
}

.card-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
}

.card-img{

    height: 450px;
   


}

.card {
    position: relative;
    width: 800px;
    height: 500px;
    background: mediumturquoise;
    padding: 20px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    gap: 100px;
    overflow: hidden;
}

.card::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover {
    width: 800px;
    height: 1200px;
    transition: all 0.3s;
}

.card:hover::after {
    opacity: 1;
}


#icon{
    width:200px;
    height:200px;
}

#contact-text{
    font-size: 60px;
    color:black
}

    
img{
    
    height: auto;
    border-radius: 50px;
}
.home-section{

    left:600px;
    display:flex;
    flex-direction: column;
    flex-shrink: inherit;
    position: absolute;
    border-radius: 100px;
    height:70%;
    padding: 100px;
    padding-top: 100px;
    background-color:  rgb(35, 6, 83) ;
}
#img-face{
    height:100%;
}


.about-me{
    
    padding-right: 900px;
}
#home-name{
    color: rgb(59, 14, 95);
    padding-top: 40px;
    font-size: 500%;

}
#home { 
    justify-content: center; 
    background-image: url(riso_gradient_2.gif);
}

#about{ 
    justify-content:right;
    background-image: url(bg-2.jpg); 
    text-align:right;
    right: 700px;
}
#about-title{
    color: rgb(59, 14, 95);
    padding-top: 40px;
    font-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.img-skill{
    filter: brightness(50%);
    width:900px;
    height:750px;
    
}
.img-skill:hover{
    filter: brightness(100%);
    width:1000px;
    height:850px;
    transition: all 0.3s;
}


.skill-section{
    gap: 70px;
    display: flex;
    flex-direction: row;
}


#skills { background-image: url(c/skills-2.png); 
    justify-content: center;}
#portfolio { 
    justify-content: center;
    background-color: #e67e22;    
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#contact { 
    
    justify-content: center;
    background-image: url(bg-5.jpg);  }


